@charset "UTF-8"; :root {--bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-body-font-family: var(--bs-font-sans-serif);} 
body {margin: 0;font-family: var(--bs-body-font-family);-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

#html33 #odid {display: none;}

td {padding: 0!important;width: 60px;}
td input{text-align: center;}

#alltab{padding: 0.18em 0.5em;margin: 0px 0px;}
#alltab span div,#sidebarbutton span div {border-radius: 10px;width: 30px;height: 3px;background-color: white;margin: 6px 0;}
#alltab span:hover *{background-color:#9C27B0}

:fullscreen{background-color: #ffffff;}

#oder,#full ,.w3-panel>.w3-button {margin: 0px;padding: 0.6em 1em;}
* {touch-action: manipulation;}

table, th, td {border: 1px solid black;border-collapse: collapse;}

.w3-panel table td{padding:1px 5px!important;}

tbody th {font-weight: 600;}
tbody td input{font-weight: 600;}

#tb .w3-quarter.w3-tag {width: 100px;margin: 15px 1.4% 0;font-size: 1.4em;}

@media print {
  body * {
    visibility: hidden;
  }
  #tb * {
    visibility: visible;
  }
  #tb {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media print {
#tb {
    
     justify-content:center;
     align-items:center;
     height:100%;
     }
    #tb{
      height:100%;
      width:100%;
/*       margin-left:150px; */
    }
 
}

@media print {
    .pb {
        clear: both;
        page-break-after: always;
    }
}

table th .nm {border: 0.5px solid;display: inline-block;padding: 0px 6px;}

#html33 th {padding: 5px!important;}
#html33 td input{padding: 5px!important;}

.w3-panel tbody tr {border: 1px solid #000;}

span.w3-button.w3-display-topright {position: fixed;margin: 0 1.2em 0 0;}

.w3-modal-content.w3-card-4 {border-radius: 24px;}
.w3-modal{-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);}


#tblom1 {width: 100%;}
#tblom1  tbody tr:first-child{color:blue;background: #ffdfdd;}
#tblom1 td {text-align: center;font-weight: 600;}

#tblom1 {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.delt{color: #8fbc8f;}
#vtag{width: fit-content;margin: 0 0em 0 2em;display: table;}
#vtag span{user-select: none;float: left;padding: 0 3px 0 3px;line-height: 1;font-weight: 200;color: #fff!important;background-color: #f44336!important;}
span[onclick="expt(this)"] span{line-height: 1.5!important;}
#vtag[onclick="expt(this)"] span:hover{background-color: #842aa5!important;font-weight:bold}
.hide{display: none!important;}

#tot td{border:none}
.sa1{text-align: left!important;float: left;}

.sa2{text-align: right!important;float: right;}

.sb3{width: 124px;}

#tot tr td b{font-weight:400}
.sc1{background: #000;color: #fff;padding: 2px 4px;font-weight: 500!important;}

#st92{z-index: 1;min-width: 160px;position: absolute;background: #fff;color: #000;}

b>b:before{content:'\2713';padding: 1px;font-family: none;background: #008000;color: #d2d5d2;border-radius: 50%;}

ul#plist,ul#m1list  {position: absolute;background: #fff;border: 1px solid #858181e8;z-index: 1;}


ul#plist li,ul#m1list li {padding: 5px 8px;color: #fff;background:#483d8b}

#ptmn,#ptst,#ptplace{padding: 0px 8px!important;display: initial;}

#bnm7 .w3-check,#bnm7 .w3-radio {
  width: 20px;
  height: 20px;
}

#oderli li span[onclick="opodli(this)"] {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
  padding: 8px;
  cursor: pointer;
  user-select: none;
}
#oderli li span[onclick="opodli(this)"]:active{color:white;background: #0005;}
#oderli li{position: relative;font-weight: 600;border-bottom: 0.5px solid black;}
#oderli>li{background: #ffeb3b;}
#oderli span[onclick="opodli(this)"] span {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  color: #000!important;
  background-color: #ffc107!important;
  border-radius: 7px;
}

#oderli li b {
  font-weight: inherit;
}

.ptds{
  margin-top: 0px!important;
  display: block;
  background: #fff9;
  padding: 20px 2px;
  position: absolute;
}

.crop {
  width: 60px;
  height: 40px;
  overflow: hidden;
}
#lastodimg{
  width: 60px;
  opacity: 0.2;
  margin: -4px -18px 0 -60px;
  -webkit-user-select: none;
}
#tot table thead th span {float: left;background: #00000015;padding: 0 4px;font-size: 12px;font-weight: 400;}

#ctm9 th {
  -webkit-user-modify: read-write;
  -moz-user-modify: read-write;
  user-modify: read-write;
}
#ctm5 th {text-align: center;}
#ctm9 td {width: auto;text-align: center;font-size: 12px;}
#sync li{padding: 0;}

/* #snackbar {display: none;min-width: 190px;margin-left: -110px;background: #616161;color: #fff;text-align: center;border-radius: 10px;padding: 8px;position: fixed;z-index: 5;left: 50%;bottom: 30px;font-size: 17px;} */
